
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Покупка</title>
</head>
<body>
<div>
    <h3>Покупка товара: {{ product.name }}</h3>
    <form method="post">{% csrf_token %}
        <table>
            <tr>
                <td><p>Введите свое имя</p></td>
                <td><input type="text" name="person" required /></td>
            </tr>
            <tr>
                <td><p>Введите адрес доставки:</p></td>
                <td><input type="text" name="address" required /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Отправить" /></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
